BioAccess_TEst/Service References/BioAccessCloudBasic/BioAccessCloudBasic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41363/BioAccessCloudBasic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="LoginResult" nillable="true" type="q1:DataStructures.LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetTemplateTypesResult" nillable="true" type="q2:ArrayOfDataStructures.TemplateTypeBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesPerCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesPerCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetSitesPerCustomerResult" nillable="true" type="q3:ArrayOfDataStructures.SiteBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesPerSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="terminalTemplates" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="templateType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesPerSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetEmployeesPerSiteResult" nillable="true" type="q4:ArrayOfDataStructures.EmployeeBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesPerCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesPerCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetEmployeesPerCustomerResult" nillable="true" type="q5:ArrayOfDataStructures.EmployeeBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="sites" nillable="true" type="q6:ArrayOfDataStructures.SiteBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUpdateSitesResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="sites" nillable="true" type="q7:ArrayOfDataStructures.SiteBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="groups" nillable="true" type="q8:ArrayOfDataStructures.GroupBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUpdateGroupsResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="groups" nillable="true" type="q9:ArrayOfDataStructures.GroupBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateGroupRelations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="employeeGroups" nillable="true" type="q10:ArrayOfDataStructures.EmployeeGroupBac" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateGroupRelationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUpdateGroupRelationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="templates" nillable="true" type="q11:ArrayOfDataStructures.TemplateBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUpdateTemplatesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="employees" nillable="true" type="q12:ArrayOfDataStructures.EmployeeBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUpdateEmployeesResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="employees" nillable="true" type="q13:ArrayOfDataStructures.EmployeeBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesPerGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesPerGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetEmployeesPerGroupResult" nillable="true" type="q14:ArrayOfDataStructures.EmployeeBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="downloaded" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q15:ArrayOfDataStructures.AttendanceTransactionBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="transactions" nillable="true" type="q16:ArrayOfDataStructures.AttendanceTransactionBac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNewTransactionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>