BioAccessTest_Production/Service References/BioAccessCloudBasic/BioAccessCloudBasic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BioAccessCloudBasic" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://biomastercloud.cloudapp.net/BioAccessCloudBasic.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://biomastercloud.cloudapp.net/BioAccessCloudBasic.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://biomastercloud.cloudapp.net/BioAccessCloudBasic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBioAccessCloudBasic_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBioAccessCloudBasic_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBioAccessCloudBasic_GetTemplateTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateTypes" />
  </wsdl:message>
  <wsdl:message name="IBioAccessCloudBasic_GetTemplateTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IBioAccessCloudBasic_GetSitesPerCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesPerCustomer" />
  </wsdl:message>
  <wsdl:message name="IBioAccessCloudBasic_GetSitesPerCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesPerCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IBioAccessCloudBasic_GetEmployeesPerSite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesPerSite" />
  </wsdl:message>
  <wsdl:message name="IBioAccessCloudBasic_GetEmployeesPerSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesPerSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IBioAccessCloudBasic_CreateUpdateSites_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUpdateSites" />
  </wsdl:message>
  <wsdl:message name="IBioAccessCloudBasic_CreateUpdateSites_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUpdateSitesResponse" />
  </wsdl:message>
  <wsdl:portType name="IBioAccessCloudBasic">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/Login" message="tns:IBioAccessCloudBasic_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/LoginResponse" message="tns:IBioAccessCloudBasic_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/GetTemplateTypes" message="tns:IBioAccessCloudBasic_GetTemplateTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/GetTemplateTypesResponse" message="tns:IBioAccessCloudBasic_GetTemplateTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesPerCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/GetSitesPerCustomer" message="tns:IBioAccessCloudBasic_GetSitesPerCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/GetSitesPerCustomerResponse" message="tns:IBioAccessCloudBasic_GetSitesPerCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesPerSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/GetEmployeesPerSite" message="tns:IBioAccessCloudBasic_GetEmployeesPerSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/GetEmployeesPerSiteResponse" message="tns:IBioAccessCloudBasic_GetEmployeesPerSite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUpdateSites">
      <wsdl:input wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/CreateUpdateSites" message="tns:IBioAccessCloudBasic_CreateUpdateSites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBioAccessCloudBasic/CreateUpdateSitesResponse" message="tns:IBioAccessCloudBasic_CreateUpdateSites_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBioAccessCloudBasic" type="tns:IBioAccessCloudBasic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBioAccessCloudBasic/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateTypes">
      <soap:operation soapAction="http://tempuri.org/IBioAccessCloudBasic/GetTemplateTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesPerCustomer">
      <soap:operation soapAction="http://tempuri.org/IBioAccessCloudBasic/GetSitesPerCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesPerSite">
      <soap:operation soapAction="http://tempuri.org/IBioAccessCloudBasic/GetEmployeesPerSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUpdateSites">
      <soap:operation soapAction="http://tempuri.org/IBioAccessCloudBasic/CreateUpdateSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BioAccessCloudBasic">
    <wsdl:port name="BasicHttpBinding_IBioAccessCloudBasic" binding="tns:BasicHttpBinding_IBioAccessCloudBasic">
      <soap:address location="http://biomastercloud.cloudapp.net/BioAccessCloudBasic.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>