BioAccessTest_Production/Service References/BioAccessCloudBasic/BioAccessCloudBasic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://biomastercloud.cloudapp.net/BioAccessCloudBasic.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DataStructures.LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequestCompleted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataStructures.LoginResponse" nillable="true" type="tns:DataStructures.LoginResponse" />
  <xs:complexType name="ArrayOfDataStructures.TemplateTypeBac">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataStructures.TemplateTypeBac" nillable="true" type="tns:DataStructures.TemplateTypeBac" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataStructures.TemplateTypeBac" nillable="true" type="tns:ArrayOfDataStructures.TemplateTypeBac" />
  <xs:complexType name="DataStructures.TemplateTypeBac">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataStructures.TemplateTypeBac" nillable="true" type="tns:DataStructures.TemplateTypeBac" />
  <xs:complexType name="ArrayOfDataStructures.SiteBac">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataStructures.SiteBac" nillable="true" type="tns:DataStructures.SiteBac" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataStructures.SiteBac" nillable="true" type="tns:ArrayOfDataStructures.SiteBac" />
  <xs:complexType name="DataStructures.SiteBac">
    <xs:sequence>
      <xs:element minOccurs="0" name="BioAccessId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataStructures.SiteBac" nillable="true" type="tns:DataStructures.SiteBac" />
  <xs:complexType name="ArrayOfDataStructures.EmployeeBac">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataStructures.EmployeeBac" nillable="true" type="tns:DataStructures.EmployeeBac" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataStructures.EmployeeBac" nillable="true" type="tns:ArrayOfDataStructures.EmployeeBac" />
  <xs:complexType name="DataStructures.EmployeeBac">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BioAccessId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RsaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataStructures.EmployeeBac" nillable="true" type="tns:DataStructures.EmployeeBac" />
</xs:schema>